/*Startseite Bild-Slider Javascript -------------------------------------------------------------*/
#basic-accordian {
	width:960px;
	height:395px;
	margin-bottom:20px;
}
#tabs {
	width:140px;
	height:395px;
	float:left;
}
#images {
	width:820px;
	height:395px;
	float:right;
	position:relative;
}
.accordion_headings {
	width:35px;
	height:385px;
	background:#c9c8c3;
	padding-bottom:10px;
	color:#e2e2e2;
	float:left;
}
.accordion_headings a {
	display:block;
	width:35px;
	height:385px;
	text-decoration:none;
}
.accordion_headings a span{
	width:35px;
	height:385px;
	display:block;
}
.accordion_headings a:hover {
	cursor:pointer;
}
#test1-header.accordion_headings {
	background:url(/img/accordion/acc_1g.gif) top left repeat-y;
}
/*de*/
#test1-header.accordion_headings a {
	background:url(/img/accordion/start1.png) top left no-repeat;
}
* html #test1-header.accordion_headings a {
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/accordion/start1.png', sizingMethod='');
	background:none;
}
#test2-header.accordion_headings {
	background:url(/img/accordion/acc_2g.gif) top left repeat-y;
}
#test2-header.accordion_headings a {
	background:url(/img/accordion/start3.png) top left no-repeat;
}
* html #test2-header.accordion_headings a {
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/accordion/start2.png', sizingMethod='');
	background:none;
}
#test3-header.accordion_headings {
	background:url(/img/accordion/acc_3g.gif) top left repeat-y;
}
#test3-header.accordion_headings a {
	background:url(/img/accordion/start2.png) top left no-repeat;
}
* html #test3-header.accordion_headings a {
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/accordion/start3.png', sizingMethod='');
	background:none;
}
#test4-header.accordion_headings {
	background:url(/img/accordion/acc_4g.gif) top left repeat-y;
}
#test4-header.accordion_headings a {
	background:url(/img/accordion/start4.png) top left no-repeat;
}
* html #test4-header.accordion_headings a {
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/accordion/start4.png', sizingMethod='');
	background:none;
}
/*fr*/
#test1-header.accordion_headings a.fr {
	background:url(/img/accordion/start1fr.png) top left no-repeat;
}
* html #test1-header.accordion_headings a.fr {
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/accordion/start1fr.png', sizingMethod='');
	background:none;
}
#test2-header.accordion_headings a.fr {
	background:url(/img/accordion/start2fr.png) top left no-repeat;
}
* html #test2-header.accordion_headings a.fr {
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/accordion/start2fr.png', sizingMethod='');
	background:none;
}
#test3-header.accordion_headings a.fr {
	background:url(/img/accordion/start3fr.png) top left no-repeat;
}
* html #test3-header.accordion_headings a.fr {
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/accordion/start3fr.png', sizingMethod='');
	background:none;
}
#test4-header.accordion_headings a.fr {
	background:url(/img/accordion/start4fr.png) top left no-repeat;
}
* html #test4-header.accordion_headings a.fr {
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/accordion/start4fr.png', sizingMethod='');
	background:none;
}


/*it*/
#test1-header.accordion_headings a.it {
	background:url(/img/accordion/start1it.png) top left no-repeat;
}
* html #test1-header.accordion_headings a.it {
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/accordion/start1it.png', sizingMethod='');
	background:none;
}
#test2-header.accordion_headings a.it {
	background:url(/img/accordion/start2it.png) top left no-repeat;
}
* html #test2-header.accordion_headings a.it{
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/accordion/start2it.png', sizingMethod='');
	background:none;
}
#test3-header.accordion_headings a.it {
	background:url(/img/accordion/start3it.png) top left no-repeat;
}
* html #test3-header.accordion_headings a.it {
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/accordion/start3it.png', sizingMethod='');
	background:none;
}
#test4-header.accordion_headings a.it{
	background:url(/img/accordion/start4it.png) top left no-repeat;
}
* html #test4-header.accordion_headings a.it {
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/accordion/start4it.png', sizingMethod='');
	background:none;
}

/*es*/
#test1-header.accordion_headings a.es {
	background:url(/img/accordion/start1es.png) top left no-repeat;
}
* html #test1-header.accordion_headings a.es {
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/accordion/start1es.png', sizingMethod='');
	background:none;
}
#test2-header.accordion_headings a.es {
	background:url(/img/accordion/start2es.png) top left no-repeat;
}
* html #test2-header.accordion_headings a.es {
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/accordion/start2es.png', sizingMethod='');
	background:none;
}
#test3-header.accordion_headings a.es {
	background:url(/img/accordion/start3es.png) top left no-repeat;
}
* html #test3-header.accordion_headings a.es {
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/accordion/start3es.png', sizingMethod='');
	background:none;
}
#test4-header.accordion_headings a.es {
	background:url(/img/accordion/start4es.png) top left no-repeat;
}
* html #test4-header.accordion_headings a.es {
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/accordion/start4es.png', sizingMethod='');
	background:none;
}



#test1-header.accordion_headings:hover, #test2-header.accordion_headings:hover, #test3-header.accordion_headings:hover, #test4-header.accordion_headings:hover {
	background: #5c932b;/*background:url(/img/home/acc_g.gif) top left repeat-y;*/
}
.accordion_child {
	padding:0;
	background:#EEE;
	height:395px;
	position:absolute;
	top:0;
	left:0;
}
.accordion_child .link {
	position:absolute;
	bottom:10px;
	right:0;
	padding:0 10px;
}
.accordion_child .link a{
	background:url(/img/accordion/link_arrow_single_home.gif) right center no-repeat #fff;
	text-decoration:none;
	padding:5px 26px 5px 10px ;
	line-height:2em;
	color:#494741;
	}
/*.accordion_child .link a {
	padding-right:23px;
	background:url(/img/accordion/link_arrow.gif) right 4px no-repeat;
	text-align:right;
}*/
#test1-header.header_highlight, #test2-header.header_highlight, #test3-header.header_highlight, #test4-header.header_highlight {
	background: #5c932b;/*background:url(/img/home/acc_g.gif) top left repeat-y;*/
}
/*Runde Ecken ausschalten*/
.accordion_child div.wrapper div.tl, .accordion_child div.wrapper div.bl {
	display:none;
}